{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in ann %}
			<li><div class="article-panel">
	<p class="first">Категория: {{ p.category }}</p>
	<p class="last">Дата: {{ p.dateCreation }}</p>
			</div>

				<h2><class="link-read-post"><a href="{{ p.get_absolute_url }}">{{p.title}}</a></h2>
	{% autoescape off %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<!-- <p class="link-read-post"><a href="#">Подробнее</a></p> -->
			</li>
	{% endfor %}
</ul>
{% endblock %}
